@media all and (max-width: 767px) {
  ul {
    padding-left: 18px; } }

.cke_top, .cke_bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#CCD7DD)) !important;
  background-image: -webkit-linear-gradient(top, #E3E3E3, #CCD7DD) !important;
  background-image: linear-gradient(top, #E3E3E3, #CCD7DD) !important; }

.comments__form-title {
  margin: 50px 0 0; }

.view .views-row .views-field-field-extra-descr {
  margin-top: 5px; }

#page {
  width: auto;
  max-width: 1000px; }

#header-wrapper {
  width: auto; }
  #header-wrapper * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

#header {
  width: auto; }
  #header #header-logo {
    width: 40%; }
    @media all and (max-width: 767px) {
      #header #header-logo {
        display: block;
        float: none;
        width: auto; } }
  #header #top_links {
    width: 34%;
    margin-left: 0;
    text-align: center;
    /*@include old-ie{
    *zoom: 1;
  }*/ }
    #header #top_links:before, #header #top_links:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
    #header #top_links:after {
      clear: both; }
    @media all and (max-width: 767px) {
      #header #top_links {
        display: block;
        float: none;
        width: auto;
        padding: 0;
        margin: 0;
        text-align: center; } }
    #header #top_links .region-top-links {
      /*float: left;*/
      display: inline-block; }
    #header #top_links .top_links_ig {
      display: inline-block;
      opacity: 0.8;
      position: relative;
      top: 7px;
      left: 5px; }
      #header #top_links .top_links_ig:hover {
        opacity: 1; }
      @media all and (max-width: 767px) {
        #header #top_links .top_links_ig {
          float: none;
          position: relative;
          top: 7px;
          left: 5px; } }
  #header #tel {
    width: 26%; }
    @media all and (max-width: 767px) {
      #header #tel {
        display: block;
        float: none;
        width: auto;
        padding-top: 10px;
        text-align: center; } }

@media all and (max-width: 767px) {
  #footer {
    margin-top: 0; } }

#navigation {
  width: auto; }

#highlighted {
  width: auto; }
  @media all and (max-width: 767px) {
    #highlighted {
      display: none; } }

#main {
  width: auto; }
  #main * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.sidebars {
  float: left;
  width: 20%; }
  .sidebars .block {
    margin-bottom: 1.5em; }
  .sidebar-first .sidebars .region-sidebar-first {
    color: #fff;
    float: none;
    line-height: 20px;
    margin-left: 0;
    padding: 0 0 15px;
    width: auto; }
    @media all and (max-width: 767px) {
      .sidebar-first .sidebars .region-sidebar-first h2 {
        margin-bottom: 0 !important;
        cursor: pointer; }
        .sidebar-first .sidebars .region-sidebar-first h2:hover {
          background-color: #ccc; } }
    @media all and (max-width: 767px) {
      .sidebar-first .sidebars .region-sidebar-first .menu {
        padding: 5px 0; } }
  @media all and (max-width: 767px) {
    .sidebars {
      float: none;
      width: auto;
      display: none; } }

@media all and (max-width: 767px) {
  .block-menu__mobileClose .menu {
    display: none; } }

@media all and (max-width: 767px) {
  .field-item > ymaps {
    height: 300px !important; } }

@media all and (max-width: 767px) {
  .field-item iframe {
    margin: 0 auto; } }

.field-name-body p {
  word-wrap: break-word; }
  @media all and (max-width: 767px) {
    .field-name-body p {
      word-wrap: normal; } }

@media all and (max-width: 767px) {
  #cboxTitle {
    display: none !important; } }

.sidebar-first #content {
  margin-left: 0;
  margin-right: 0;
  width: 80%;
  padding-left: 15px; }
  @media all and (max-width: 767px) {
    .sidebar-first #content {
      float: none;
      width: auto;
      padding-left: 0;
      overflow: hidden; } }

.views-field-field-kurort-main-img, .view-block-kurorty-5 .views-field-field-kurort-main-img, .view-block-kurorty-4 .views-field-field-kurort-main-img, .view-block-kurorty-3 .views-field-field-kurort-main-img, .view-block-shri-lanka .views-field-field-kurort-main-img {
  margin-bottom: 0; }

.view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row {
  width: auto;
  float: none;
  display: block;
  height: auto;
  /*@include old-ie{
    *zoom: 1;
  }*/ }
  .view-kurorty .views-row:before, .view-kurorty .views-row:after, .view-block-kurorty-5 .views-row:before, .view-block-kurorty-5 .views-row:after, .view-block-kurorty-4 .views-row:before, .view-block-kurorty-4 .views-row:after, .view-block-kurorty-3 .views-row:before, .view-block-kurorty-3 .views-row:after, .view-block-shri-lanka .views-row:before, .view-block-shri-lanka .views-row:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .view-kurorty .views-row:after, .view-block-kurorty-5 .views-row:after, .view-block-kurorty-4 .views-row:after, .view-block-kurorty-3 .views-row:after, .view-block-shri-lanka .views-row:after {
    clear: both; }
  @media all and (max-width: 767px) {
    .view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row {
      width: auto;
      margin-right: 0; } }

.field-name-field-kurort-foto {
  width: auto; }
  @media all and (max-width: 767px) {
    .field-name-field-kurort-foto {
      text-align: center; } }
  @media all and (max-width: 767px) {
    .field-name-field-kurort-foto .field-item {
      float: none;
      display: none; }
      .field-name-field-kurort-foto .field-item:first-child {
        display: inline-block; }
        .field-name-field-kurort-foto .field-item:first-child img {
          width: 170px;
          height: 170px; } }

.menu-toggle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 53px;
  padding: 16px 0 0 15px;
  background-color: #0066cb;
  position: relative;
  cursor: pointer;
  display: none; }
  @media all and (max-width: 767px) {
    .menu-toggle {
      display: block; } }
  .menu-toggle_text {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: bold; }
  .menu-toggle_switch {
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    right: 15px;
    top: 25px;
    background-color: #fff; }
    .menu-toggle__on .menu-toggle_switch {
      background-color: transparent; }
  .menu-toggle_switch:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    height: 3px;
    width: 100%; }
    .menu-toggle__on .menu-toggle_switch:before {
      -webkit-transform: rotate(45deg) translate(7px, 7px);
      -ms-transform: rotate(45deg) translate(7px, 7px);
      transform: rotate(45deg) translate(7px, 7px); }
  .menu-toggle_switch:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #fff;
    height: 3px;
    width: 100%; }
    .menu-toggle__on .menu-toggle_switch:after {
      -webkit-transform: rotate(-45deg) translate(7px, -7px);
      -ms-transform: rotate(-45deg) translate(7px, -7px);
      transform: rotate(-45deg) translate(7px, -7px); }
  .menu-toggle_switch:after, .menu-toggle_switch:before {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 2px;
    border-radius: 2px; }

@media all and (max-width: 767px) {
  #navigation #main-menu {
    display: none;
    float: none; }
    .menu-toggle__on + #navigation #main-menu {
      display: block; } }

@media all and (max-width: 959px) {
  #navigation ul.links {
    padding: 0; } }

@media all and (max-width: 767px) {
  #navigation ul.links {
    display: block;
    float: none; } }

#navigation ul.links li.mobile {
  display: none; }

@media all and (max-width: 959px) {
  #navigation ul.links li {
    padding: 0 !important; } }

@media all and (max-width: 767px) {
  #navigation ul.links li {
    display: block;
    float: none;
    padding: 0 !important;
    border-right: 0;
    border-top: 1px solid #ccc; }
    #navigation ul.links li:first-child {
      border-top: none; }
    #navigation ul.links li.non-mobile {
      display: none; }
    #navigation ul.links li.mobile {
      display: block; } }

#navigation ul.links li .menu__link {
  cursor: pointer; }
  @media all and (max-width: 959px) {
    #navigation ul.links li .menu__link {
      display: block; } }

#navigation ul.links .nolink {
  position: relative; }
  #navigation ul.links .nolink:before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 6.9px;
    border-color: transparent transparent transparent #ffffff;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
  #navigation ul.links .nolink__open:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

#navigation ul.links ul {
  padding: 0 40px 15px 40px;
  background-color: #0066CB; }
  @media all and (max-width: 767px) {
    #navigation ul.links ul .menu__link {
      font-size: 14px;
      padding: 3px 0 3px 3px; }
      #navigation ul.links ul .menu__link.select {
        position: relative;
        font-size: 16px; }
        #navigation ul.links ul .menu__link.select:before {
          content: '';
          position: absolute;
          left: -10px;
          top: 50%;
          margin-top: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 0 4px 6.9px;
          border-color: transparent transparent transparent #ffffff;
          -webkit-transition: -webkit-transform 0.2s;
          transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
          transition: transform 0.2s, -webkit-transform 0.2s; } }

@media all and (max-width: 767px) {
  #header-search {
    display: none; } }

#header-search input[type="text"] {
  width: 170px; }

@media all and (max-width: 959px) {
  #contact-site-form #edit-actions {
    padding-top: 15px; } }

@media all and (max-width: 767px) {
  #price-menu {
    bottom: 0 !important;
    width: 100% !important;
    text-align: center !important;
    padding: 7px 0 !important; } }

@media all and (max-width: 767px) {
  #price-menu ul li {
    display: inline-block !important;
    width: auto !important;
    margin-right: 7px !important;
    padding: 0 !important;
    border: 0 !important; } }

@media all and (max-width: 767px) {
  #price-menu ul li.title {
    background: none !important; } }

@media all and (max-width: 767px) {
  #price-menu ul li:not([class="title"]) {
    padding: 3px !important;
    -webkit-border-radius: 5px;
    border-radius: 5px; } }

/*#navbar-administration{
	display: none;
	@include m768{
		display: block;
	}
}
#admin-menu{
	@include m768{
		display: none;
	}
}*/
.view-kurorty .view-filters {
  display: none; }
  @media all and (max-width: 767px) {
    .page-kurorty-all .view-kurorty .view-filters {
      display: block; } }
  .view-kurorty .view-filters .description {
    display: none; }

.view-kurorty .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0; }

.view-kurorty .views-submit-button {
  text-align: center; }

.view-kurorty .views-exposed-form .views-exposed-widget .form-submit {
  margin: 0; }

.view-kurorty .bef-checkboxes {
  /*@include old-ie{
    *zoom: 1;
  }*/
  max-width: 302px;
  margin: 0 auto;
  text-align: center; }
  .view-kurorty .bef-checkboxes:before, .view-kurorty .bef-checkboxes:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .view-kurorty .bef-checkboxes:after {
    clear: both; }
  @media all and (max-width: 332px) {
    .view-kurorty .bef-checkboxes {
      max-width: 290px; } }
  @media all and (max-width: 319px) {
    .view-kurorty .bef-checkboxes {
      max-width: 145px; } }
  .view-kurorty .bef-checkboxes .form-item {
    float: left;
    margin: 0; }
    .view-kurorty .bef-checkboxes .form-item input[type="checkbox"] {
      display: none; }
    .view-kurorty .bef-checkboxes .form-item label {
      display: inline-block;
      width: 145px;
      background: #e5e5e5;
      background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#fefefe));
      background: -webkit-linear-gradient(bottom, #e5e5e5, #fefefe);
      background: linear-gradient(to top, #e5e5e5, #fefefe);
      padding: 5px 0px;
      margin: 0 3px 5px 3px;
      border-bottom: 1px solid #d1d1d1;
      font-weight: normal;
      cursor: pointer;
      font-size: 12px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
      @media all and (max-width: 332px) {
        .view-kurorty .bef-checkboxes .form-item label {
          width: 140px;
          margin: 0 3px 5px 2px; } }
    .view-kurorty .bef-checkboxes .form-item input[type="checkbox"]:checked + label {
      font-weight: bold; }

.view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row {
  line-height: 20px; }
  @media all and (max-width: 767px) {
    .view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row {
      height: auto; } }
  .view-kurorty .views-row .views-field-title, .view-block-kurorty-5 .views-row .views-field-title, .view-block-kurorty-4 .views-row .views-field-title, .view-block-kurorty-3 .views-row .views-field-title, .view-block-shri-lanka .views-row .views-field-title {
    margin-bottom: 5px; }

.views-field-field-kurort-main-img a {
  display: block; }
  .views-field-field-kurort-main-img a img {
    display: block; }

#google_translate_element {
  padding: 12px 0 0 2px; }
  @media all and (max-width: 767px) {
    #google_translate_element {
      padding: 12px 0 0 0; } }

.block-rf .form-item {
  margin: 0; }
  .block-rf .form-item label {
    display: inline-block;
    padding-left: 5px; }
  .block-rf .form-item a {
    font-weight: normal; }
    @media all and (max-width: 959px) {
      .block-rf .form-item a {
        font-size: 12px; } }
  .block-rf .form-item .form-checkbox {
    position: relative;
    top: 2px; }

.block-rf .form-submit {
  margin-top: 8px; }

.toup {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 55px;
  height: 55px;
  background: transparent url("../images/toup.png") left top no-repeat;
  cursor: pointer;
  display: none;
  opacity: 0.8;
  -webkit-transition: opacity, 0.2s;
  transition: opacity, 0.2s; }
  .toup:hover {
    opacity: 1; }
  .toup__on {
    display: block; }

.comments .form-item {
  margin: 10px 0; }

.comments .comment {
  background-color: #e3e3e3;
  padding: 0 0 15px 60px;
  position: relative;
  overflow: hidden;
  margin: 40px 60px 20px 0; }
  .comments .comment.first {
    margin: 0 60px 20px 0; }
  .comments .comment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #5b99c0; }
  .comments .comment .field-name-comment-body {
    background-color: #ccd7dd;
    padding: 20px 35px 0;
    margin: 0 15px 0 0;
    overflow: hidden;
    position: relative; }
    .comments .comment .field-name-comment-body:before {
      content: '';
      position: absolute;
      top: 16px;
      left: 17px;
      width: 14px;
      height: 11px;
      background: transparent url("../images/review.png") left top no-repeat; }
    .comments .comment .field-name-comment-body:after {
      content: '';
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: 14px;
      height: 11px;
      background: transparent url("../images/review.png") right top no-repeat; }
  .comments .comment .submitted {
    padding: 15px;
    font-weight: bold;
    margin: 0 !important; }
  .comments .comment .links {
    margin: 0 0 0 15px; }

.comments .indented {
  margin: 0; }
  .comments .indented .comment {
    margin: 0 0 20px 60px;
    padding: 0 60px 15px 0; }
    .comments .indented .comment:before {
      content: '';
      position: absolute;
      top: 0;
      left: auto;
      right: 0;
      width: 60px;
      height: 100%;
      background-color: #5b99c0; }
    .comments .indented .comment .field-name-comment-body {
      margin: 0 0 0 15px; }

.comment-form {
  /*.field-name-comment-body{
		background-color: transparent;
		padding: 0;
	}*/ }
  .comment-form * {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important; }
  .comment-form textarea {
    resize: none; }
  .comment-form .field-name-comment-body {
    margin-bottom: 10px; }
  .comment-form .form-type-textarea {
    margin-bottom: 10px; }

.field-name-body blockquote {
  background-color: #e3e3e3;
  padding: 15px 0 15px 60px;
  position: relative;
  overflow: hidden;
  margin: 0 0 24px 0; }
  .field-name-body blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: #5b99c0; }
  .field-name-body blockquote p {
    background-color: #ccd7dd;
    padding: 20px 35px 20px;
    margin: 0 15px 0 0;
    overflow: hidden;
    position: relative; }
    .field-name-body blockquote p:before {
      content: '';
      position: absolute;
      top: 16px;
      left: 17px;
      width: 14px;
      height: 11px;
      background: transparent url("../images/review.png") left top no-repeat; }
    .field-name-body blockquote p:after {
      content: '';
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: 14px;
      height: 11px;
      background: transparent url("../images/review.png") right top no-repeat; }
