ul{
	@include m768{
		padding-left: 18px;
	}
}
.cke_top, .cke_bottom{
	background-image: linear-gradient(top,#E3E3E3,#CCD7DD)!important;
}
.comments__form-title{
	margin: 50px 0 0;
}
.view .views-row .views-field-field-extra-descr{
	margin-top: 5px;
}
#page{
	width: auto;
	max-width: 1000px;
}
//header
#header-wrapper{
	& *{
		box-sizing: border-box;
	}
	width: auto;
}
#header{
	width: auto;
	#header-logo{
		width: 40%;
		@include m768{
			display: block;
			float: none;
			width: auto;
		}
	}
	#top_links{
		width: 34%;
		margin-left: 0;
		//padding-left: 35px;
		text-align: center;
		@include clearfix();
		@include m768{
			display: block;
			float: none;
			width: auto;
			padding: 0;
			margin: 0;
			text-align: center;
		}
		.region-top-links{
			/*float: left;*/
			display: inline-block;
			@include m768{

			}
		}
		.top_links_ig{
			//float: left;
			//padding: 3px 0 0 3px;
			display: inline-block;
			opacity: 0.8;
			position: relative;
			top: 7px;
			left: 5px;
			&:hover{
				opacity: 1;
			}
			@include m768{
				float: none;
				position: relative;
				top: 7px;
				left: 5px;
			}
		}
	}
	#tel{
		width: 26%;
		@include m768{
			display: block;
			float: none;
			width: auto;
			padding-top: 10px;
			text-align: center;
		}
	}
}
//footer
#footer{
	@include m768{
		margin-top: 0;
	}
}
//navigation
#navigation{
	width: auto;
}
//slider
#highlighted{
	width: auto;
	@include m768{
		display: none;
	}
}
//main
#main{
	width: auto;
	& *{
		box-sizing: border-box;
	}
}
//aside
.sidebars{
	float: left;
	width: 20%;
	.block {
    margin-bottom: 1.5em;
	}
	.sidebar-first & .region-sidebar-first{
		color: #fff;
    float: none;
    line-height: 20px;
    margin-left: 0;
    padding: 0 0 15px;
    width: auto;
    h2{
    	@include m768{
				margin-bottom: 0!important;
				cursor: pointer;
				&:hover{
					background-color: #ccc;
				}
			}
    }
    .menu{
    	@include m768{
				padding: 5px 0;
			}
    }
	}
	@include m768{
		float: none;
		width: auto;
		display: none;
	}
}
.block-menu__mobileClose{
	.menu{
  	@include m768{
			display: none;
		}
  }
}
//content
.field-item > ymaps{
	@include m768{
		height: 300px!important;
	}
}
.field-item iframe{
	@include m768{
		margin: 0 auto;
	}
}
.field-name-body p {
  word-wrap: break-word;
  @include m768{
		word-wrap: normal;
	}
}
#cboxTitle{
	@include m768{
		display: none!important;
	}
}
#content{
	.sidebar-first &{
		margin-left: 0;
		margin-right: 0;
		width: 80%;
		padding-left: 15px;
		@include m768{
			float: none;
			width: auto;
			padding-left: 0;
			overflow: hidden;
		}
	}
}
.views-field-field-kurort-main-img, .view-block-kurorty-5 .views-field-field-kurort-main-img, .view-block-kurorty-4 .views-field-field-kurort-main-img, .view-block-kurorty-3 .views-field-field-kurort-main-img, .view-block-shri-lanka .views-field-field-kurort-main-img{
	margin-bottom: 0;
}
.view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row{
	width: auto;
	float: none;
	display: block;
	height: auto;
	@include clearfix;
	@include m768{
		width: auto;
		margin-right: 0;
	}
}
//gallery
.field-name-field-kurort-foto{
	width: auto;
	@include m768{
		text-align: center;
	}
	.field-item{
		@include m768{
			float: none;
			//display: inline-block;
			display: none;
			&:first-child{
				display: inline-block;
				img{
					width: 170px;
					height: 170px;
				}
			}
		}
	}
}
//menu
.menu-toggle{
	box-sizing: border-box;
	height: 53px;
	padding: 16px 0 0 15px;
	background-color: #0066cb;
	position: relative;
	cursor: pointer;
	display: none;
	@include m768{
		display: block;
	}
	&_text{
		font-size: 16px;
		line-height: 16px;
		color: #fff;
		font-weight: bold;
	}
	&_switch{
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    right: 15px;
    top: 25px;
    background-color: #fff; 
    .menu-toggle__on &{
    	background-color: transparent;
    }
  }
  &_switch:before{
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .menu-toggle__on &{
    	transform: rotate(45deg) translate(7px, 7px);
    }
  }
	&_switch:after{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #fff;
    height: 3px;
    width: 100%;
    .menu-toggle__on &{
    	transform: rotate(-45deg) translate(7px, -7px);
    }
  }
  
 	&_switch:after, &_switch:before{
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }   
}
#navigation{
	#main-menu{
		@include m768{
			display: none;
			float: none;
			.menu-toggle__on + &{
				display: block
			}
		}
	}
	ul.links{
		@include m960{
			padding: 0;
		}
		@include m768{
			display: block;
			float: none;
			
		}
		li{
			&.mobile{
				display: none;
			}
			@include m960{
				padding: 0!important;
			}
			@include m768{
				display: block;
				float: none;
				padding: 0!important;
				border-right: 0;
				border-top: 1px solid #ccc;
				&:first-child{
					border-top: none;
				}
				&.non-mobile{
					display: none;
				}
				&.mobile{
					display: block;
				}
			}
			.menu__link{
				cursor: pointer;
				@include m960{
					display: block;
				}
			}
		}
		.nolink{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 10px;
				top: 50%;
				margin-top: -3px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 0 4px 6.9px;
				border-color: transparent transparent transparent #ffffff;
				transition: transform 0.2s;
			}
			&__open{
				&:before{
					transform: rotate(90deg);
				}
			}
		}
		ul{
			padding: 0 40px 15px 40px;
			background-color: #0066CB;
			.menu__link{
				@include m768{
					font-size: 14px;
					padding: 3px 0 3px 3px;
					&.select{
						position: relative;
						font-size: 16px;
						&:before{
							content: '';
							position: absolute;
							left: -10px;
							top: 50%;
							margin-top: -3px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 4px 0 4px 6.9px;
							border-color: transparent transparent transparent #ffffff;
							transition: transform 0.2s;
						}
					}
				}
			}
		}
	}
	
}
#header-search{
	@include m768{
		display: none;
	}
}
#header-search input[type="text"]{
	width: 170px;
}
//form
#contact-site-form{
	#edit-actions{
		@include m960{
			padding-top: 15px;
		}
	}
}
//price-menu
#price-menu{
	@include m768{
		bottom: 0!important;
		width: 100%!important;
		text-align: center!important;
		padding: 7px 0!important;
	}
	ul{
		li{	
			@include m768{
				display: inline-block!important;
				width: auto!important;
				margin-right: 7px!important;
				padding: 0!important;
				border: 0!important;
			}
			&.title{
				@include m768{
					background: none!important;
				}
			}
			&:not([class="title"]) {
				@include m768{
					padding: 3px!important;
					border-radius: 5px;
				}
			}
		}
	}
}
//navbar
/*#navbar-administration{
	display: none;
	@include m768{
		display: block;
	}
}
#admin-menu{
	@include m768{
		display: none;
	}
}*/
.view-kurorty{
	.view-filters{
		display: none;
		@include m768{
			.page-kurorty-all &{
				display: block;
			}
		}
		.description{
			display: none;
		}
	}
	.views-exposed-form .views-exposed-widget{
		float: none;
		padding: 0;
	}
	.views-submit-button{
		text-align: center;
	}
	.views-exposed-form .views-exposed-widget .form-submit{
		margin: 0;
	}
	.bef-checkboxes{
		@include clearfix();
		max-width: 302px;
		margin: 0 auto;
		text-align: center;
		@include m332{
			max-width: 290px;
		}
		@include m320{
			max-width: 145px;
		}
    .form-item{
			//display: inline-block;
			float: left;
			margin: 0;
			
	    input[type="checkbox"]{
	    	display: none;
	    }
	    label{
				display: inline-block;
				width: 145px;
				background: #e5e5e5;
		    background: linear-gradient(to top, #e5e5e5, #fefefe);
		    padding: 5px 0px;
		    margin: 0 3px 5px 3px;
		    border-bottom: 1px solid #d1d1d1;
		    font-weight: normal;
		    cursor: pointer;
		    font-size: 12px;
		    border-radius: 3px;
		    @include m332{
					width: 140px;
					margin: 0 3px 5px 2px;
				}
			}
			input[type="checkbox"]:checked + label{
			  font-weight: bold;
			}
    }
		
	}
}
//fix views items
.view-kurorty .views-row, .view-block-kurorty-5 .views-row, .view-block-kurorty-4 .views-row, .view-block-kurorty-3 .views-row, .view-block-shri-lanka .views-row{
	//height: 200px;
	line-height: 20px;
	@include m768{
		height: auto;
	}
	.views-field-title{
		margin-bottom: 5px;
	}
}
.views-field-field-kurort-main-img{
	a{
		display: block;
		img{
			display: block;
		}
	}
}
//google translate
#google_translate_element{
	padding: 12px 0 0 2px;
	@include m768{
		padding: 12px 0 0 0;
	}
}