.toup{
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 55px;
	height: 55px;
	background:transparent url('../images/toup.png') left top no-repeat;
	cursor: pointer;
	display: none;
	opacity: 0.8;
	transition: opacity, 0.2s;
	&:hover{
		opacity: 1;
	}
	&__on{
		display: block;
	}
}